SECRET_KEY=django-insecure-reemplaza-esto-con-una-clave-segura

app_name=ApiPredict
app_version=1.0.0
app_env=development
app_debug=true

log_level=INFO
timezone=America/La_Paz

path_data=storage/data
path_models=storage/models

ALLOWED_HOSTS=localhost,127.0.0.1
